<footer class="footer">
  <div class="footer-container">
    <!-- Brand and Description -->
    <div class="footer-brand">
      <h3 class="brand-title">Isola Delba</h3>
      <p class="brand-description">
        Votre destination à la plage de ghar el melh pour des moments
        inoubliables.
      </p>
    </div>

    <!-- Navigation Links -->
    <div class="footer-links">
      <h4 class="footer-title">Liens utiles</h4>
      <ul class="links-list">
        <li><a href="#about" class="footer-link">À propos</a></li>
        <li><a href="#services" class="footer-link">Menu</a></li>
        <li><a href="#contact" class="footer-link">Réservation</a></li>
      </ul>
    </div>

    <!-- Contact Details -->
    <div class="footer-contact">
      <h4 class="footer-title">Contact</h4>
      <p>
        <img
          src="images/icons/phone-white.svg"
          alt="Téléphone"
          class="footer-icon"
        />
        <a
          href="tel:+54 504 204
          "
          class="footer-link"
          >+216 54 504 204
        </a>
      </p>
      <p>
        <img
          src="images/icons/mail-white.svg"
          alt="Email"
          class="footer-icon"
        />
        <a href="mailto:houssemweldi613&#64;gmail.com" class="footer-link"
          >houssemweldi613&#64;gmail.com</a
        >
      </p>
    </div>

    <!-- Social Media -->
    <div class="footer-social">
      <h4 class="footer-title">Suivez-nous</h4>
      <div class="social-icons">
        <a
          href="https://www.facebook.com/profile.php?id=100091633134409&mibextid=LQQJ4d"
          target="_blank"
          aria-label="Facebook"
        >
          <img
            src="images/icons/facebook-white.svg"
            class="social-icon"
            alt="Facebook"
          />
        </a>
        <a
          href="https://www.instagram.com/resto_isola_delba"
          target="_blank"
          aria-label="Instagram"
        >
          <img
            src="images/icons/instagram-white.svg"
            class="social-icon"
            alt="Instagram"
          />
        </a>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-bottom">
    <p>&copy; 2024 Isola Delba. Tous droits réservés.</p>
  </div>
</footer>
