<section class="about">
  <div class="container-about">
    <div class="about-text">
      <h2>À propos de nous</h2>
     
      <p class="quote">
        <strong>ISOLA D'ELBA</strong>, un lieu où la gastronomie rencontre la
        sérénité. Situé à <strong>Plage Ghar El Melh,Sidi Ali Maki</strong>, notre
        restaurant en bord de plage vous invite à découvrir des saveurs
        authentiques dans un cadre enchanteur.
      </p>
      <p class="quote">
        Venez savourer des moments uniques, entourés de paysages à couper le
        souffle, parfaits pour des repas en famille, entre amis, ou en amoureux.
      </p>
      <p class="quote">
        Découvrez une carte riche en plats exquis et boissons rafraîchissantes,
        servies dans une ambiance conviviale et chaleureuse. Appréciez le charme
        unique de nos cabanes en bord de plage, parfaites pour vous offrir un
        moment d'évasion et de sérénité.
      </p>
    </div>
  
  </div>
</section>
