<section class="visitor-reviews">
  <div class="reviews-container">
    <h2 class="reviews-title">Témoignages</h2>
    <div class="reviews-subtitle">
      Découvrez ce que nos visiteurs disent de nous
      <img src="images/icons/avis.svg" />
    </div>

    <div class="reviews-list">
      <!-- Review 1 -->
      <div class="review-card">
        <h3 class="reviewer-name">Jamil Ferchichi</h3>
        <p class="reviewer-stars">★★★★★</p>
        <p class="reviewer-comment">
          "Le meilleur endroit pour profiter de la belle mer. Un acceuil
          chaleureux et surtout un service de très bonne qualité"
        </p>
      </div>

      <!-- Review 2 -->
      <div class="review-card">
        <h3 class="reviewer-name">Wassim Hajji</h3>
        <p class="reviewer-stars">★★★★☆</p>
        <p class="reviewer-comment">
          "J'y été le le 21/07 : service impeccable"
        </p>
      </div>

      <!-- Review 3 -->
      <div class="review-card">
        <h3 class="reviewer-name">Sibel Sozer</h3>
        <p class="reviewer-stars">★★★★★</p>
        <p class="reviewer-comment">"The best in Bizerte! "</p>
      </div>
      <div class="review-card">
        <h3 class="reviewer-name">Amine Oueldi</h3>
        <p class="reviewer-stars">★★★★★</p>
        <p class="reviewer-comment">
          "Mon restaurant favoris de la plage sidi Ali el mekki. Il est
          idéalement situé, laissant beaucoup d'espace entre les parasols. Le
          poisson et la grillade sont très bons. Merci pour l'accueil
          chaleureux. "
        </p>
      </div>
      <div class="review-card">
        <h3 class="reviewer-name">Tom Lê</h3>
        <p class="reviewer-stars">★★★★☆</p>
        <p class="reviewer-comment">
          "Service au top, nourriture au top, meilleur spot de la plage ! "
        </p>
      </div>
    </div>
  </div>
</section>
