<section class="contact">
  <div class="container-fluid">
    <h2 class="contact-title">Contact</h2>
    <div class="contact-info">
      <!-- Détails de contact -->
      <div class="contact-details">
        <p>
          <img src="images/icons/pin.svg" alt="Pin" class="detail-icon" />
          <a class="contact-link">Plage Ghar El Melh, Bizerte, Tunisie</a>
        </p>
        <p>
          <img
            src="images/icons/phone.svg"
            alt="Téléphone"
            class="detail-icon"
          />
          <a href="tel:+21612345678" class="contact-link">+216 54 504 204</a>
        </p>
        <p>
          <img src="images/icons/mail.svg" alt="Email" class="detail-icon" />
          <a href="mailto:houssemweldi613@gmail.com" class="contact-link"
            >houssemweldi613&#64;gmail.com</a
          >
        </p>
      </div>
    </div>
    <!-- Carte interactive -->
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.821848995182!2d10.237867512395665!3d37.15693537203136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2c06127e059c1%3A0xdd43145a145de433!2sRestaurant%20Isola%20d&#39;Elba!5e0!3m2!1sfr!2stn!4v1733079575424!5m2!1sfr!2stn"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
