<section class="menu">
  <div class="menu-container">
    <h2 class="menu-title">Menu</h2>
    <div class="menu-cards">
      <div class="menu-card">
        <img
          src="images/menu/escalope.jpg"
          alt="Escalope panée"
          class="menu-card-img"
        />
        <div class="menu-card-content">
          <h3 class="dish-name">Plats</h3>
          <p class="dish-price">Escalope : 30 DT</p>
          <p class="dish-price">Dorade : 35 DT</p>
          <p class="dish-price">Loup : 45 DT</p>
        </div>
      </div>
      <div class="menu-card">
        <img
          src="images/menu/spaghetti.jpg"
          alt="Spaghetti aux fruits de mer"
          class="menu-card-img"
        />
        <div class="menu-card-content">
          <h3 class="dish-name">Spaghetti aux fruits de mer</h3>
          <p class="dish-price">45 DT</p>
        </div>
      </div>
      <div class="menu-card">
        <img
          src="images/menu/ojja.jpg"
          alt="Ojja aux fruits de mer"
          class="menu-card-img"
        />
        <div class="menu-card-content">
          <h3 class="dish-name">Ojja aux fruits de mer</h3>
          <p class="dish-price">40 DT</p>
        </div>
      </div>
      <div class="menu-card">
        <img
          src="images/menu/dessert.jpg"
          alt="Daurade grillée"
          class="menu-card-img"
        />
        <div class="menu-card-content">
          <h3 class="dish-name">Dessert</h3>
          <p class="dish-price">35 DT</p>
        </div>
      </div>
      <div class="menu-card">
        <img
          src="images/menu/boissons.jpg"
          alt="Daurade grillée"
          class="menu-card-img"
        />
        <div class="menu-card-content">
          <h3 class="dish-name">Boissons</h3>
          <p class="dish-price">Jus Fraise : 35 DT</p>
          <p class="dish-price">Jus Citronade : 35 DT</p>
          <p class="dish-price">Mokhito : 35 DT</p>
        </div>
      </div>
    </div>
    <div class="menu-extra">
      <p class="extra-text">
        Et bien plus encore ! Découvrez une palette de plats raffinés, des pâtes
        savoureuses et des boissons raffinées et surprises culinaires exclusives
        lors de votre visite chez <strong>ISOLA D'ELBA</strong>. Chaque jour, de
        nouvelles saveurs à explorer vous attendent !
      </p>
    </div>
  </div>
</section>
