<!-- <style>
.carousel__face {
  transition: transform 0.5s ease-in-out;
}

.carousel__face:nth-child(1) {
  background-image: url('images/overview/1-overview.jpg');
  transform: rotateY(0deg) translateZ(430px);
}

.carousel__face:nth-child(2) {
  background-image: url("images/overview/2-overview.jpg");
  transform: rotateY(40deg) translateZ(430px);
}

.carousel__face:nth-child(3) {
  background-image: url("images/overview/3-overview.jpg");
  transform: rotateY(80deg) translateZ(430px);
}

.carousel__face:nth-child(4) {
  background-image: url("images/overview/4-overview.jpg");
  transform: rotateY(120deg) translateZ(430px);
}

.carousel__face:nth-child(5) {
  background-image: url("images/overview/5-overview.jpg");
  transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) {
  background-image: url("images/overview/6-overview.jpg");
  transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) {
  background-image: url("images/overview/7-overview.jpg");
  transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
  background-image: url("images/overview/8-overview.jpg");
  transform: rotateY(280deg) translateZ(430px);
}

.carousel__face:nth-child(9) {
  background-image: url("images/overview/9-overview.jpg");
  transform: rotateY(320deg) translateZ(430px);

   }
</style> -->
<section class="overview">
  <div class="overview-container">
    <div class="slogan">
      <h1>Restaurant & Lounge ISOLA D'ELBA</h1>
      <h2>Un coin de paradis, où chaque instant devient inoubliable.</h2>
      <button class="btn-reservation">Réserver maintenant !</button>
    </div>
    <!-- <div class="gallery">
      <img src="images/overview/1-overview.jpg" alt="Image 1">
      <img src="images/overview/2-overview.jpg" alt="Image 2">
      <img src="images/overview/3-overview.jpg" alt="Image 3">
      <img src="images/overview/4-overview.jpg" alt="Image 4">
      <img src="images/overview/5-overview.jpg" alt="Image 5">
  

    </div> -->
 
  </div>
  <br>
  <div class="gallery-container">
    <div class="gallery-grid">
      <div 
        class="gallery-item" 
        *ngFor="let image of images; let i = index" 
        (click)="openPreview(i)">
        <img [src]="image" alt="Gallery Image {{ i }}" />
      </div>
    </div>
  
    <!-- Modal Preview -->
    <div class="gallery-preview" *ngIf="isPreviewOpen">
      <div class="preview-overlay" (click)="closePreview()"></div>
      <div class="preview-content">
        <img [src]="images[selectedImageIndex]" alt="Preview Image" />
        <button class="btn-close" (click)="closePreview()">Fermer</button>
      </div>
    </div>
  </div>
  
</section>

